body {
    background: beige;
}

h1  {
    background: blanchedalmond;
    border: 2px solid bisque;
    font-family: B52;
}

h2 {
    background: beige;
    border: 2px solid black;
    font-family: "Ascent 2 Stardom(RUS BY LYAJKA)";
    color: saddlebrown;
    text-align: center;
}

